{% extends "base.html" %}
{% block title %} Home {% endblock %}


{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Сервис, по определению IP-адресов</h1>
            {% if user.is_admin %}
            <p>
                <a href="{% url 'add_params'%}" class="btn btn-primary my-2">added param</a>
                <a href="{% url 'add_country'%}" class="btn btn-primary my-2">added country</a>
                <a href="{% url 'add_url'%}" class="btn btn-primary my-2">added urls</a>
                <a href="{% url 'get_all_urls'%}" class="btn btn-primary my-2">Show all urls</a>
            </p>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}


